<div class="container-fluid my-5">
    <footer class="text-center text-lg-start" style="background-color: #ececec;">
        <div class="container d-flex justify-content-center py-5">
            butons?
        </div>

        <!-- Copyright -->
        <div class="text-center text-white p-3" style="background-color: #c3c1c1; ">
            © 2023 Copyright:
            <a class="text-white" href="https://www.jankuthan.cz/">jankuthan.cz</a>
        </div>
        <!-- Copyright -->
    </footer>
</div>
