.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    margin-top: 0px;
    height: 100px;
    width: 100px;
    border: 12px solid gray;
}

.container-content {
    margin-top: 125px;
}

@media (min-width: 576px) { }

@media (min-width: 768px) { }
@media (min-width: 992px) {
    .navbar-brand>img {
        margin-top: 70px;
        width: 200px;
        height: 200px;
    }
    .container-content {
        margin-top: 50px;
    }
}
@media (min-width: 1200px) { }
@media (min-width: 1400px) { }
